# Kernel bug for Linux < 3.3: sysfs inodes can lose their security context
# and revert to the base sysfs type.
allow rild sysfs:file write;
allow rild system_prop:property_service set;
allow rild radio_device:chr_file setattr;
allow rild self:capability fsetid;
allow rild init:dir search;
allow rild kernel:dir search;
allow rild system_data_file:file { write setattr };

# Talk to agpsd
allow gpsd rild:unix_stream_socket { connectto };
