allow untrusted_app racoon_exec:file getattr;
allow untrusted_app sdcardd_exec:file getattr;
allow untrusted_app sensors_config_exec:file getattr;
allow untrusted_app servicemanager_exec:file getattr;
allow untrusted_app surfaceflinger_exec:file getattr;
allow untrusted_app sysinit_exec:file getattr;
allow untrusted_app tee_exec:file getattr;
allow untrusted_app uncrypt_exec:file getattr;
allow untrusted_app userinit_exec:file getattr;
allow untrusted_app vdc_exec:file getattr;
allow untrusted_app vold_exec:file getattr;
allow untrusted_app wpa_exec:file getattr;
allow untrusted_app recovery_cache_file:dir getattr;
